
<body>
          <header>
                    <nav>
                                      <a href='/'>Home</a>
                                      <a href="/brews">Coffee Log</a>
                                      <a href="/espresso">EBR Calculator</a>
                                      <a href="/brewcalculator">Brew Calculator</a>
                                      <a href="/brewcalculator">Equipment Guide</a>
                                      <a href="/brewcalculator">Brew Guide</a>
                                      <a href="/brewcalculator">About</a>
                             
                              
                             
                             
                             
                              
                              
                    </nav>
          </header>