<%- include ('partials/head')  -%>
<%- include ('partials/header')  -%>
  <section>
        <span>Your better digital coffee journey starts here</span>
  </section> 
    <script src="js/main.js"></script>
<%- include ('partials/footer')  -%>